$bgcolor: red;

/*<--------------- IDs ---------------->*/

#input {

}

#theme {

}

#textSize {

}

#container {
	border: 1px solid black;
}

/*<--------------- Classes ---------------->*/

.messageContainer {
	margin: 0;
	padding: 0;
	width: 100%;
}

.messageText {
	display: inline-block;
	width: 79%;
}

.deleteButton {
	display: inline-block;
	width: 19%;
}

/*<--------------- TOGGLE CLASSES ---------------->*/

.large {
  font-size: 1.8em;
  font-style: bold;

}

.change-color {
  background-color: #000000;
  color: #ffffff;
}
